cassettes/node-red-flow.jsonl
{"cassette_version":1,"call_name":"openai.responses.create","request_hash":"e5a81abf1070d29271871046b98b79e5f201cbaf1df9b3910b657844cabfc936","recorded_at_ms":1768935768999,"latency_ms":2206,"args_preview":[{"model":"gpt-4o-2024-08-06","messages":[{"role":"system","content":"You are an expert Node-RED Architect. \n                Output a valid JSON array representing a Node-RED flow.\n                The flow must include coordinates (x, y) and wires.\n                Ensure every node has a unique ID."},{"role":"user","content":"Create a flow that listens on HTTP /hello and responds with 'World'"}],"response_format":{"type":"json_object"}}],"error":{"name":"Error","message":"400 Unsupported parameter: 'response_format'. In the Responses API, this parameter has moved to 'text.format'. Try again with the new parameter. See the API documentation for more information: https://platform.openai.com/docs/api-reference/responses/create.","stack":"Error: 400 Unsupported parameter: 'response_format'. In the Responses API, this parameter has moved to 'text.format'. Try again with the new parameter. See the API documentation for more information: https://platform.openai.com/docs/api-reference/responses/create.\n    at Function.generate (/Users/yuanliu/agent-cassette/node_modules/openai/src/core/error.ts:72:14)\n    at OpenAI.makeStatusError (/Users/yuanliu/agent-cassette/node_modules/openai/src/client.ts:478:28)\n    at OpenAI.makeRequest (/Users/yuanliu/agent-cassette/node_modules/openai/src/client.ts:728:24)\n    at process.processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at async <anonymous> (/Users/yuanliu/agent-cassette/src/cassette.ts:189:24)\n    at async generateNodeRedFlow (/Users/yuanliu/agent-cassette/examples/node-red-generator.ts:58:22)\n    at async main (/Users/yuanliu/agent-cassette/examples/node-red-generator.ts:87:20)"}}
{"cassette_version":1,"call_name":"openai.responses.create","request_hash":"9646ad9ad1e3d9f7a1114ff1f3b17c8dcfa95c737ff12f44a0ba8660c32c3d07","recorded_at_ms":1768936484635,"latency_ms":8012,"args_preview":[{"model":"gpt-4o-2024-08-06","input":[{"role":"system","content":"You are an expert Node-RED Architect. \n                Output a valid JSON array representing a Node-RED flow.\n                The flow must include coordinates (x, y) and wires.\n                If you create a function node, ensure it handles msg.payload and returns msg."},{"role":"user","content":"Create a function node that converts payload to uppercase"}],"text":{"format":{"type":"json_object"}}}],"result":{"id":"resp_0a04ba1ed340c3d800696fd41d3888819781bc13372e9fb8b8","object":"response","created_at":1768936477,"status":"completed","background":false,"billing":{"payer":"developer"},"completed_at":1768936484,"error":null,"frequency_penalty":0,"incomplete_details":null,"instructions":null,"max_output_tokens":null,"max_tool_calls":null,"model":"gpt-4o-2024-08-06","output":[{"id":"msg_0a04ba1ed340c3d800696fd41e1fbc8197a520736524600a5c","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":"{\n    \"id\": \"flow1\",\n    \"type\": \"tab\",\n    \"label\": \"Uppercase Conversion Flow\",\n    \"nodes\": [\n        {\n            \"id\": \"inject1\",\n            \"type\": \"inject\",\n            \"z\": \"flow1\",\n            \"name\": \"Inject Sample Payload\",\n            \"props\": [\n                {\n                    \"p\": \"payload\"\n                }\n            ],\n            \"payload\": \"hello world\",\n            \"payloadType\": \"str\",\n            \"repeat\": \"\",\n            \"crontab\": \"\",\n            \"once\": true,\n            \"onceDelay\": 0.1,\n            \"x\": 100,\n            \"y\": 100,\n            \"wires\": [\n                [\n                    \"function1\"\n                ]\n            ]\n        },\n        {\n            \"id\": \"function1\",\n            \"type\": \"function\",\n            \"z\": \"flow1\",\n            \"name\": \"Convert to Uppercase\",\n            \"func\": \"msg.payload = msg.payload.toUpperCase();\\nreturn msg;\",\n            \"outputs\": 1,\n            \"noerr\": 0,\n            \"initialize\": \"\",\n            \"finalize\": \"\",\n            \"x\": 300,\n            \"y\": 100,\n            \"wires\": [\n                [\n                    \"debug1\"\n                ]\n            ]\n        },\n        {\n            \"id\": \"debug1\",\n            \"type\": \"debug\",\n            \"z\": \"flow1\",\n            \"name\": \"Output Payload\",\n            \"active\": true,\n            \"tosidebar\": true,\n            \"console\": false,\n            \"tostatus\": false,\n            \"complete\": \"payload\",\n            \"targetType\": \"msg\",\n            \"x\": 500,\n            \"y\": 100,\n            \"wires\": []\n        }\n    ]\n}"}],"role":"assistant"}],"parallel_tool_calls":true,"presence_penalty":0,"previous_response_id":null,"prompt_cache_key":null,"prompt_cache_retention":null,"reasoning":{"effort":null,"summary":null},"safety_identifier":null,"service_tier":"default","store":true,"temperature":1,"text":{"format":{"type":"json_object"},"verbosity":"medium"},"tool_choice":"auto","tools":[],"top_logprobs":0,"top_p":1,"truncation":"disabled","usage":{"input_tokens":74,"input_tokens_details":{"cached_tokens":0},"output_tokens":375,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":449},"user":null,"metadata":{},"output_text":"{\n    \"id\": \"flow1\",\n    \"type\": \"tab\",\n    \"label\": \"Uppercase Conversion Flow\",\n    \"nodes\": [\n        {\n            \"id\": \"inject1\",\n            \"type\": \"inject\",\n            \"z\": \"flow1\",\n            \"name\": \"Inject Sample Payload\",\n            \"props\": [\n                {\n                    \"p\": \"payload\"\n                }\n            ],\n            \"payload\": \"hello world\",\n            \"payloadType\": \"str\",\n            \"repeat\": \"\",\n            \"crontab\": \"\",\n            \"once\": true,\n            \"onceDelay\": 0.1,\n            \"x\": 100,\n            \"y\": 100,\n            \"wires\": [\n                [\n                    \"function1\"\n                ]\n            ]\n        },\n        {\n            \"id\": \"function1\",\n            \"type\": \"function\",\n            \"z\": \"flow1\",\n            \"name\": \"Convert to Uppercase\",\n            \"func\": \"msg.payload = msg.payload.toUpperCase();\\nreturn msg;\",\n            \"outputs\": 1,\n            \"noerr\": 0,\n            \"initialize\": \"\",\n            \"finalize\": \"\",\n            \"x\": 300,\n            \"y\": 100,\n            \"wires\": [\n                [\n                    \"debug1\"\n                ]\n            ]\n        },\n        {\n            \"id\": \"debug1\",\n            \"type\": \"debug\",\n            \"z\": \"flow1\",\n            \"name\": \"Output Payload\",\n            \"active\": true,\n            \"tosidebar\": true,\n            \"console\": false,\n            \"tostatus\": false,\n            \"complete\": \"payload\",\n            \"targetType\": \"msg\",\n            \"x\": 500,\n            \"y\": 100,\n            \"wires\": []\n        }\n    ]\n}"},"meta":{"total_tokens":449,"input_tokens":74,"output_tokens":375}}
{"cassette_version":1,"call_name":"flowfuse.deploy","request_hash":"ab915f83a17cf39eadcd7d16167663612e8e31cfd7840aa67a20653c0ee8265f","recorded_at_ms":1768936484638,"latency_ms":0,"args_preview":[{"id":"flow1","type":"tab","label":"Uppercase Conversion Flow","nodes":[{"id":"inject1","type":"inject","z":"flow1","name":"Inject Sample Payload","props":[{"p":"payload"}],"payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":100,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Convert to Uppercase","func":"msg.payload = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":100,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Output Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":100,"wires":[]}]}],"error":{"name":"Error","message":"Invalid Flow: Not an array","stack":"Error: Invalid Flow: Not an array\n    at validateAndDeployFlow (/Users/yuanliu/agent-cassette/examples/node-red-generator.ts:54:41)\n    at <anonymous> (/Users/yuanliu/agent-cassette/src/cassette.ts:189:30)\n    at generateNodeRedFlow (/Users/yuanliu/agent-cassette/examples/node-red-generator.ts:136:32)\n    at process.processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at async main (/Users/yuanliu/agent-cassette/examples/node-red-generator.ts:144:20)"}}
{"cassette_version":1,"call_name":"openai.responses.create","request_hash":"54fb6c8d4e59e490a7f78dfc7ca92a69be4951f9804d482cfc0b5c15491fddd2","recorded_at_ms":1768938203826,"latency_ms":5157,"args_preview":[{"model":"gpt-4o-2024-08-06","input":[{"role":"system","content":"You are an expert Node-RED Architect. \n                Output a JSON object with a key named \"flow\" containing the array of nodes.\n                The flow must include coordinates (x, y) and wires.\n                If you create a function node, ensure it handles msg.payload and returns msg."},{"role":"user","content":"Create a function node that converts payload to uppercase"}],"text":{"format":{"type":"json_object"}}}],"result":{"id":"resp_01339fd8bb00034700696fdad7570881919498a9dd2c0361fd","object":"response","created_at":1768938199,"status":"completed","background":false,"billing":{"payer":"developer"},"completed_at":1768938203,"error":null,"frequency_penalty":0,"incomplete_details":null,"instructions":null,"max_output_tokens":null,"max_tool_calls":null,"model":"gpt-4o-2024-08-06","output":[{"id":"msg_01339fd8bb00034700696fdad87a748191a8fde7e8e1fa6fb0","type":"message","status":"completed","content":[{"type":"output_text","annotations":[],"logprobs":[],"text":"{\n    \"flow\": [\n        {\n            \"id\": \"1\",\n            \"type\": \"inject\",\n            \"name\": \"Inject String\",\n            \"topic\": \"\",\n            \"payload\": \"hello world\",\n            \"payloadType\": \"str\",\n            \"repeat\": \"\",\n            \"crontab\": \"\",\n            \"once\": false,\n            \"onceDelay\": 0.1,\n            \"x\": 100,\n            \"y\": 100,\n            \"wires\": [\n                [\"2\"]\n            ]\n        },\n        {\n            \"id\": \"2\",\n            \"type\": \"function\",\n            \"name\": \"Uppercase Function\",\n            \"func\": \"msg.payload = msg.payload.toUpperCase();\\nreturn msg;\",\n            \"outputs\": 1,\n            \"noerr\": 0,\n            \"x\": 300,\n            \"y\": 100,\n            \"wires\": [\n                [\"3\"]\n            ]\n        },\n        {\n            \"id\": \"3\",\n            \"type\": \"debug\",\n            \"name\": \"Debug Output\",\n            \"active\": true,\n            \"console\": \"false\",\n            \"complete\": \"payload\",\n            \"x\": 500,\n            \"y\": 100,\n            \"wires\": []\n        }\n    ]\n}"}],"role":"assistant"}],"parallel_tool_calls":true,"presence_penalty":0,"previous_response_id":null,"prompt_cache_key":null,"prompt_cache_retention":null,"reasoning":{"effort":null,"summary":null},"safety_identifier":null,"service_tier":"default","store":true,"temperature":1,"text":{"format":{"type":"json_object"},"verbosity":"medium"},"tool_choice":"auto","tools":[],"top_logprobs":0,"top_p":1,"truncation":"disabled","usage":{"input_tokens":79,"input_tokens_details":{"cached_tokens":0},"output_tokens":264,"output_tokens_details":{"reasoning_tokens":0},"total_tokens":343},"user":null,"metadata":{},"output_text":"{\n    \"flow\": [\n        {\n            \"id\": \"1\",\n            \"type\": \"inject\",\n            \"name\": \"Inject String\",\n            \"topic\": \"\",\n            \"payload\": \"hello world\",\n            \"payloadType\": \"str\",\n            \"repeat\": \"\",\n            \"crontab\": \"\",\n            \"once\": false,\n            \"onceDelay\": 0.1,\n            \"x\": 100,\n            \"y\": 100,\n            \"wires\": [\n                [\"2\"]\n            ]\n        },\n        {\n            \"id\": \"2\",\n            \"type\": \"function\",\n            \"name\": \"Uppercase Function\",\n            \"func\": \"msg.payload = msg.payload.toUpperCase();\\nreturn msg;\",\n            \"outputs\": 1,\n            \"noerr\": 0,\n            \"x\": 300,\n            \"y\": 100,\n            \"wires\": [\n                [\"3\"]\n            ]\n        },\n        {\n            \"id\": \"3\",\n            \"type\": \"debug\",\n            \"name\": \"Debug Output\",\n            \"active\": true,\n            \"console\": \"false\",\n            \"complete\": \"payload\",\n            \"x\": 500,\n            \"y\": 100,\n            \"wires\": []\n        }\n    ]\n}"},"meta":{"total_tokens":343,"input_tokens":79,"output_tokens":264}}
{"cassette_version":1,"call_name":"flowfuse.deploy","request_hash":"0fe4b5383336448027fc02c117e9414079511e19ed29dc17884bf641dfba8e5d","recorded_at_ms":1768938203827,"latency_ms":0,"args_preview":[[{"id":"1","type":"inject","name":"Inject String","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["2"]]},{"id":"2","type":"function","name":"Uppercase Function","func":"msg.payload = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["3"]]},{"id":"3","type":"debug","name":"Debug Output","active":true,"console":"false","complete":"payload","x":500,"y":100,"wires":[]}]],"result":{"deploymentId":"dep_0ypqd","status":"active","nodes":3}}
